// -----------------------------------------------------------------------------
// This file contains styles that are specific to the content page.
// -----------------------------------------------------------------------------
.full-size-image-container {
    padding: 0 6em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h3 {
        margin-bottom: 1em !important;
    }
}

.separator {
    position: absolute;
    padding: 0 6em;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    ;

    &:after {
        display: block;
        content: '';
        width: 100%;
        height: 1px;
        border: 1px solid rgba(0, 0, 0, 0.10);
    }
}

.sprint-footer {
    padding: 3em 0;
    position: relative;

    .footer-content {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        padding: 3em 0 0 0;
        @include respond-to-except-mobile {
            max-width: 50%;
        }
        @include respond-to-mobile {
            padding:  3em 30px 0 30px;
        }
        &.border-top {
            border-top: 1px solid rgba(0, 0, 0, 0.10);
        }
        a {
            display: flex;
            justify-content: center;
            text-decoration: none;
            span {
                line-height: 60px;
                margin: 0 15px;
                font-size: large;
                @include respond-to-mobile {
                    font-size: smalls;
                }
                color: #444444;
                @include respond-to-mobile {
                    line-height: 24px;
                }
            }
            img {
                height: 60px;
                margin: 0;
                @include respond-to-mobile {
                    height: 24px;
                }
            }
        }

        .left {
            margin-right: auto;

            a {

                span {
                    order: 2;
                }

                img {
                    transform: rotate(180deg);
                    order: 1;
                }
            }
        }

        .right {
            margin-left: auto;

            a {
                span {
                    order: 1;
                }

                img {
                    order: 2;
                }
            }
        }
    }
}

.team-section {
    padding: 6em 0;
    position: relative;
    @include respond-to-mobile {
        padding: 3em 0;
    }
    .profiles {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: row wrap;
        .profile-info {
            display: flex;
            flex-direction: column;
            width: 300px;
            margin: 30px;
            @include respond-to-mobile {
                margin: 15px 0;
            }
            .profile-img {
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    max-width: 250px;
                    @include respond-to-mobile {
                        width: 180px;
                    }
                }
            }
            .profile-description {
                display: flex;
                align-items: center;
                flex-direction: column;
                margin: 2em 0 4em 0;
                @include respond-to-mobile {
                    margin: 1em 0 2em 0;
                }
                label {
                    font-size: large;
                }
                p {}
            }
        }
    }
}

.sprint-section {
    padding: 6em 0;
    position: relative;

    @include respond-to-mobile {
        padding: 30px 0;
    }

    &:nth-of-type(2n + 1):not(.override-bg) {
        background-color: #f1f8ff;
    }

    .container {
        @include respond-to-except-mobile {
            max-width: 50%;
        }
        @include respond-to-mobile {
            padding: 0 30px;
        }

        img {
            margin: 1em auto;
            max-height: 500px;
            max-width: 100%;
            border-radius: 5px;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.30)
        }

        ul {
            padding-inline-start: 30px;

            li {
                font-size: 1.35em;
                line-height: 1.75em;
                @include respond-to-mobile {
                    font-size: 1.25em;
                    line-height: 1.5em;
                    margin: 0.5em 0;
                }
            }
        }
    }

    h1 {
        margin-bottom: 1em;
        color: #444444;
        font-size: xx-large;
        @include respond-to-mobile {
            font-size: x-large;
        }
    }

    h3 {
        margin-bottom: 0.5em;
        font-size: x-large;
        line-height: normal;
        @include respond-to-mobile {
            font-size: medium;
        }
    }
    a.pdf-btn {
        margin: 3em 0 0 0;
        line-height: 48px;
        padding: 0 15px;
        border: 2px solid #444444;
        text-transform: uppercase;
        color: #444444;
        text-decoration: none;
    }

    p {
        font-size: 1.35em;
        line-height: 1.75em;
        margin: 1.5em 0;
        @include respond-to-mobile {
            font-size: 1.25em;
            line-height: 1.5em;
            margin: 0.5em 0;
        }

        &.caption {
            margin-top: 0;
            font-style: italic;
            font-size: 1em;
        }

        blockquote {

            p {
                font-size: 1.35em;
                margin: 0;
                @include respond-to-mobile {
                    font-size: 1.35em;
                }
            }
        }
    }

    blockquote {
        margin: 2em 0 1em 0;
        font-size: inherit;

        p {
            font-size: 1.35em;
            margin: 0;
            @include respond-to-mobile {
                font-size: 1.35em;
            }
        }
    }
}