.navigation-bar-container {
    position: fixed;
    top: 0px;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    background-color: dodgerblue;
    &.is-hidden {
        transform: translateY(0);
        animation: slide-out-of-view 0.5s ease 0s forwards;
    }
    &.shown {
        transform: translateY(-100%);
        animation: slide-into-view 0.5s ease 0s forwards;
    }
    .navigation-bar {
        white-space: nowrap;
        list-style: none;
        display: flex;
        flex-flow: row;
        padding: 0;
        margin-bottom: 0;
        .navigation-bar-item {
            padding: 0 15px;
            height: 48px;
            line-height: 48px;
            min-width: 100px;
            text-align: center;
            text-transform: uppercase;
            color: #f1f8ff;
            border-bottom: 3px solid rgba(0, 0,0,0.0);
            cursor: pointer;
            opacity: 0.75;
            transition: all 0.3s linear 0s;
            &:focus,
            &:hover {
                opacity: 1;
                border-bottom: 3px solid rgba(255, 255,255,0.75);
            }
            a {
                cursor: pointer;
                color: #f1f8ff;
                text-transform: uppercase;
                text-decoration: none;
            }
        }
    }
}
@keyframes slide-out-of-view {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100%);
    }
}
@keyframes slide-into-view {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}